@import '../../assets/colors/colors.scss';

.selector{
    display: flex;
    flex-direction: column;
    max-width: 331px;
    flex:1;
    position: relative;
    &__container{
        display: flex;
        border: 0.5px solid rgba($black,0.3);
        width: 100%;
        height: 56px;
        border-radius: 8px;
        box-shadow: $defaultShadow;
        align-items: center;
        padding: 0 16px 0 16px ;
        
    }
    &_focus{
     border-color: $primary;
    }
    &_focus~&__list{
        height: 150px;
        padding: 12px;
    }
    &_focus>&__arrow{
        transform: rotate(0);
    }
    &__arrow{
        margin-left: auto;
        transform: rotate(90deg);
        transition: 0.4s ease all;
    }

    &__input{
        border:none;
        outline: none;
        font-size: 24px;
        font-family: Roboto;
        font-weight: 400;
        flex: 1;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }
    }
    &__list{
        height: 0;
        width: 100%;
        transition: 0.4s ease all;
        position: absolute;
        top:70px;
        overflow: scroll;
        padding-left: 0;
        border-radius: 12px;
        box-shadow: $defaultShadow;
        padding: 0;
        left:0;
        background-color: $white;
        cursor: pointer;
        z-index: 2;
        &__item{
            list-style-type: none;
            font-family: Roboto;
            font-size: 16px;
            margin-bottom: 8px;
            display: flex;
            &__symbol{
                display: block;
                text-align: center;
                width: 30px;
                margin-right: 6px;
            }
            &:hover{
                background-color: $secondary;
            }
        }
    }
    &__value{
        font-family: Roboto;
        font-size: 20px;
        color:$textGray;
        &__symbol{
            color: black;
        }
    }
    &__label{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        color:$textGray;
        align-self: center;
        margin-bottom: 4px;   
    }
}