@import '../../assets/colors/colors.scss';

.historical{
    display: flex;
    justify-content:space-around;
    align-items: center;
    &__currency{
        margin-left: 40px;
    }
    &__result{
        display: flex;
        width: 30%;
        height: 300px;
        overflow: scroll;
        flex-wrap: wrap;
        &__item{
            display: flex;
            align-items: center;
            margin: 12px;
            width: 90px;
            color:$textGray;
            font-family: Roboto;
        }
    }
    &__middleBlock{
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 331px;
        &__button{
            margin-top: 20px;
            align-self: center;
        }
    }
}