@import "./assets/fonts/_fonts.scss";

body {
  margin: 0;
}
#root{
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 53, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/bg.png');
    background-size: cover;
}

*{
    box-sizing: border-box;
}